@model PostCreateViewModel

<form action="Edit" method="post">
<div class="row">
    <div class="col-9">
        <div class="bg-white p-4">
            <h1>Post Edit</h1>
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <input type="hidden" asp-for = "PostId">
                <div class="mb-3">
                    <label asp-for="Title" class="form-label">Title</label>
                    <input class="form-control" asp-for = "Title">
                    <span asp-validation-for="Title" class="text-danger"></span>
                </div>
                <div class="mb-3">
                    <label asp-for="Description" class="form-label">Description</label>
                    <input class="form-control" asp-for = "Description">
                    <span asp-validation-for="Description" class="text-danger"></span>
                </div>
                <div class="mb-3">
                    <label asp-for="Content" class="form-label">Content</label>
                    <textarea class="form-control" asp-for = "Content"></textarea>
                    <span asp-validation-for="Content" class="text-danger"></span>
                </div>
                <div class="mb-3">
                    <label asp-for="Url" class="form-label">Url</label>
                    <input class="form-control" asp-for = "Url">
                    <span asp-validation-for="Url" class="text-danger"></span>
                </div>
                @if(User.FindFirstValue(ClaimTypes.Role) == "admin"){
                    <div class="form-check mb-3">
                        <input asp-for = "IsActive" class="form-check-input">
                        <label asp-for = "IsActive" class="form-check-label"></label>
                    </div>
                }
                <button type="submit" class="btn btn-primary">Edit</button>
            </div>
        </div>  
        <div class="col-3">
            @foreach(var tag in ViewBag.Tags)
                {
                    <div class="form-check">
                        <input class="form-check-input" 
                        name="tagIds"
                        type="checkbox" 
                        value="@tag.TagId" 
                        id="tag_@tag.TagId" 
                        @(Model.Tags.Any(i => i.TagId == tag.TagId) ? "checked" : "")
                        >
                        <label class="form-check-label" for="tag_@tag.TagId">
                            @tag.Text
                        </label>
                    </div>
                }
        </div>
    </div>
</form>



@section Scripts{
    <script src="https://cdnjs.cloudflare.com/ajax/libs/tinymce/6.7.2/tinymce.min.js" ></script>

    <script>
        tinymce.init({
            selector: '#Content',
        })
    </script>
}

