body{
    background-color: aliceblue;
}

a{
    text-decoration: none;
}

.avatar{
    border-radius: 50%;
    width: 50px;
    height: 50px;
}

.tag:hover {
    cursor: pointer;
}

.tag.active {
    color: white;
    background-color: blue; 
}